html, body,#root, .app, #app>div {
  height: 100%
}

#header{
  background-color: cadetblue;
  z-index: 10;
  margin-bottom: 10px;
  padding: 10px;
}

#navBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  font: 30;
  font-weight: bold;
  color: darkred;
  width: 70%;
  margin-left: 15%;
  margin-top: 15px;
}

.siteName{
  color: purple;
  font-weight: bold;
  font-size: 40px; 
}

#exitBlock{
  display:flex;
  flex-direction: column;
}

.caroselImage{
 height: 5%;
 width: 80%;
}

.page{
  height: 100%;
  width: 100%;
}

.caroselDivide{
  background-color: aqua;
  display: flex;
  flex-direction: column;
  gap: 30px 10px;
  align-items: center;  
}

.section{
  height: 100px;
  background-color: yellow;
}

img{
  height: auto; 
  width: auto; 
  max-width: 100px; 
  max-height: 100px;

}

.netslider {
  margin: 20px auto;
}

.container {
  padding: 40px;
}

.item {
  text-align: center;
}

