html, body,#root, .app, #app>div {
  height: 100%;
  background-color: lightcyan;
}

#header{
  background-color: cadetblue;
  z-index: 10;
  margin-bottom: 10px;
  padding: 10px;
}

#navBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  font: 30;
  font-weight: bold;
  color: darkred;
  width: 70%;
  margin-left: 15%;
  margin-top: 15px;
}

.siteName{
  color: purple;
  font-weight: bold;
  font-size: 40px; 
}

#exitBlock{
  display:flex;
  flex-direction: column;
}

.section{
  height: 100px;
  background-color: yellow;
}

.carouselImg{
  height: auto; 
  width: auto; 
  max-width: 100px; 
  max-height: 100px;
}

.netslider {
  margin: 20px auto;
}

.container {
  padding: 40px;
}

.item {
  text-align: center;
}

.category{
  color: chocolate;
}

#screenArea{
  margin-left: 10%;
  min-width: 1000px;
  width: 80%;

}

.searchBar{
  width: 90%;
}

.detailContainer{
  padding-top: 80px;
  justify-content: space-between;
  align-items: center;
}

.watchlistContainer{
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    align-items: flex-start;
}

.watchlistObj{
  width : 200px;
  height: 200px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.posterImg{
  height: auto; 
  width: 40;  
}

.ratingContainer{
  display: flex;
  justify-content: space-between;
  width: 120px;
  justify-content: center;
 
}

.interactContainer{
  display: flex;
}

.thumbContainer{
  padding-top: 4px;
  padding-inline: 7px;
  display: flex; 
  justify-content: center;
}

.countContainer{
  padding-left:8px;
}

.poster{
  width: 40%;
  height: 40%;
}

#vid{
  margin-top: 40px;
  width: 70%;
}

.infoContainer{
  display: flex;
}

.info{
  width: 40%;
}